.button{
    height:45px;
    min-width: 200px;
    max-width: 500px;
    border-radius:8px;
    border: none;
    background-color:#91ec35;
    color: #121212;
    font-size: 18px;
    font-weight: bold;

    display: flex;
    justify-content:center;
    align-items: center;

    cursor: pointer;

    &:not(:disabled):hover{
        filter: brightness(0.85);
    }
    &:disabled{
        opacity: 0.5;
        cursor: not-allowed;
    }
}