#flashcardList {
    ::-webkit-scrollbar {
        width: 10px;
    }

    #add-btn {
        margin-top: 25px;
    }

    #flashcardDisplay {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 15px;

        color: #fff;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;

        #flashcard {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 145px;

            img {
                height: 60px;
            }

            label {
                margin-top: 10px;
                height: 70px;
                overflow: auto;
            }
        }

        #flashcardsOptions {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

    }

    button {
        //margin-left:5px;
        margin-bottom: 15px;
        background-color: #1B1842;
        border: none;
        cursor: pointer;

        img {
            margin-right: 25px;
            height: 25px;
        }
    }
}

.btn {
    height: 5vh;
    border-radius: 8px;
    border: none;
    background-color: #1B1842;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    &:not(:disabled):hover {
        filter: brightness(0.85);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.modalForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input {
        height: 45px;
        width: 100%;
        border: 2px solid #1B1842;
        border-radius: 8px;
        padding: 1px 16px;
        margin-bottom: 10px;
        background-color: #fff;
    }

    textarea {
        border: 2px solid #1B1842;
        border-radius: 8px;
        resize: none;
    }
}