html, body{background:#1B1842;height:100%;}
#page-home{
    background:#1B1842;
    color:#EBEDF2;
    width: 100vw;
    height: 100vh;
    header{
        height: 70px;
        display: flex;
        align-items:center;
        justify-content: space-between;

        #title{
            margin-left: 15px;
            font-size: 20px;
            #flash{
                color: #FF5050;
            }
        }  
        #user-id{
            display: flex;
            align-items:center;
            label{
                font-size: 22px;
                margin-right: 10px;
            }
            img{
                border-radius: 50%;
                margin-right: 15px;
                height:50px;
            }   
        }
    }

    aside{
        margin-left: 15px;
        border-radius: 12px;
        float: left;
        justify-content: center;
        min-width: 250px;
        width: 20%;
        min-height: 87%;
        height: auto !important;
        background-color: #12102d;
        h2{
            margin-top: 5px;
            margin-bottom: 20px;
            text-align: center;
            font-weight: 400;
        }
    }

    main{
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        #btn{
            display: flex;
            justify-content: center;
        }
    }
}

@media (max-width: 800px) {
    #page-home {
        header{
            height: 60px;
            #title{
                font-size: 12px;
            }  
            #user-id{
                label{
                    font-size: 18px;
                }
                img{
                    height:35px;
                }   
            }
        }
        aside{
            margin-left: 15px;
            border-radius: 12px;
            float: left;
            justify-content: center;
            min-width: 150px;
            width: 20%;
            height: 90%;
            h2{
                font-size: 18px;
                margin-top: 5px;
                margin-bottom: 20px;
                text-align: center;
                font-weight: 400;
            }
            img{
                height:15px;
            }
        }
    }
  }


