#page-study {
    ::-webkit-scrollbar {
        width: 10px;
    }
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1B1842;
    color: #fff;

    main {
        #flashcard-study{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
                height: 45vh;
            }
            #card-text{
                color: black;
                span{
                    position: absolute;
                    font-size: 4vh; 
                    padding-right: 2vw;
                    text-align: center;                   
                    font-weight: bold;
                    top: 3vh;
                }
                
                p{
                    position: absolute;
                    top: 10vh;
                    padding: 0;
                    font-size: 2vh;
                    padding: 0 2vw;
                    padding-right: 4vw;
                    text-align: center;
                    min-width: 35vw;
                    max-width: 55vw;
                    max-height: 30vh;
                    overflow: auto;
                }

                #card-front, #card-back{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
            
        }
        #arrow-left {
            margin-right: 30px;
        }
        .arrow{
            cursor: pointer;
        }
        display: flex;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img{
            cursor: pointer;
        }

        #miss {
            color: #FF5050;
        }

        p {
            font-size: 24px;
            font-weight: 600;
        }
    }
}